label {
	font-size: 120%;
}

input.field {
	font-size: 110%;
	width: 30%;
	border-radius: 3%/30%;
}

input.submit {
	font-family: VollkornSC;
	font-weight: bold;
}
input.send-down-submit {
	top: 60%;
}