label {
	font-size: 160%;
}

input.field {
	font-size: 150%;
	width: 35%;
	border-radius: 3%/30%;
}

input.submit {
	font-family: Staatliches;
}

a {
	font-family: Quantico;
	font-size: 120%;
	font-style: italic;
	text-decoration: none;
	color: khaki;
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}
	a:hover {
		font-style: normal;
		text-shadow: -2px -2px 3px purple, 2px -2px 3px purple, -2px 2px 3px purple, 2px 2px 3px purple;
	}