button.logout-button {
	position: fixed;
	right: 1.5%;
	background-image: url("Logout\ Button.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 1.5%;
	background-color: transparent;
	border: none;
	transition: 400ms;
}
	button.logout-button:hover {
		cursor: pointer;
		animation: growFromCenter 400ms;
		transform: scale(1.1);
		background-image: url("Larger\ Logout\ Button.png");
	}