div.page-container {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2%;
	width: 95%;
}

table {
	text-align: center;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

td {
	width: auto;
}