body {
	background-image: url("Village\ -\ My\ Account\ Background.jpg");
	color: white;
}

h1 {
	padding-top: 0.75%;
	margin-left: 7%;
	margin-bottom: 5%;
	font-family: MedievalSharp;
	color: yellowgreen;
	font-size: 250%;
	text-shadow: -3px -3px 4px black, 3px -3px 4px black, -3px 3px 4px black, 3px 3px 4px black;
}

form.input-form {
	margin-left: 1.75%;
}

input.submit {
	position: absolute;
	border-radius: 4%/30%;
}