label {
	font-size: 160%;
}

input.field {
	font-size: 150%;
	width: 35%;
	margin-bottom: 1%;
}

input.submit {
	top: 40%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	font-family: Staatliches;
	font-size: 150%;
}

a {
	font-family: Quantico;
	font-size: 120%;
	font-style: italic;
	text-decoration: none;
	color: khaki;
	text-shadow: -1px -1px 2px black, 1px -1px 2px black, -1px 1px 2px black, 1px 1px 2px black;
}
	a:hover {
		font-style: normal;
		text-shadow: -2px -2px 3px purple, 2px -2px 3px purple, -2px 2px 3px purple, 2px 2px 3px purple;
	}