body {
	background-image: url("Student\ Creation\ Background.jpg");
}

h1 {
	padding-top: 0.75%;
	margin-left: 7%;
	margin-bottom: 2%;
	font-family: VollkornSC;
	color: gold;
	font-size: 250%;
	text-shadow: -3px -3px 4px black, 3px -3px 4px black, -3px 3px 4px black, 3px 3px 4px black;
}

form.input-form {
	margin-left: 3%;
}

label {
	font-size: 110%;
	text-shadow: 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black, 0px 0px 2px black;
}

input.field {
	margin-bottom: 1%;
	font-family: ChakraPetch;
	padding-left: 0.5%;
	padding-right: 0.5%;
	font-size: 115%;
	width: 40%;
	border-radius: 1%/15%;
}
	input.default-field {
		background-color: silver;
		color: rgb(119, 55, 55);
	}
	input.active-field {
		background-color: moccasin;
		color: rgb(51, 32, 156);
	}

select {
	margin-bottom: 1%;
	margin-left: 0.5%;
	padding: 0.25%;
	border: 3px outset rgb(218, 0, 0);
	border-radius: 2%/20%;
	background-color: rgb(126, 7, 7);
	color: whitesmoke;
	font-family: VollkornSC;
	font-size: 110%;
	cursor: pointer;
}
option {
	font-family: ArchitectsDaughter;
	color: black;
	background-color: palegoldenrod;
}
	option:checked {
		background-color: rgb(245, 196, 106)
	}

textarea {
	width: 40%;
	padding: 0.5%;
	margin-bottom: 1%;
	font-family: Nunito;
	font-size: 95%;
	letter-spacing: 1px;
	border: 3px outset indigo;
	background-color: beige;
}

input.submit {
	margin-left: 17.5%;
	font-family: Staatliches;
	border-radius: 10%/20%;
	padding: 0.4%;
	border: 3px outset;
	font-size: 150%;
	width: fit-content;
}
	input.disabled-submit {
		border-color: rgba(0, 0, 0, 0.3);
	}
	input.enabled-submit {
		background-color: greenyellow;
		border-color: indigo;
		color: rgb(53, 0, 90);
		transition: 550ms;
	}
		input.enabled-submit:hover {
			cursor: pointer;
			animation: growFromCenter 550ms;
			transform: scale(1.1);
			background-color: rgb(236, 150, 150);
		}