body {
	background-image: url("Images/RPG\ Camp\ -\ Welcome\ Background.jpg");
}

#name-p {
	font-family: MedievalSharp;
	color: rgb(56, 255, 132);
}

table.main-table {
	animation: expandVertically 1500ms;
	border-color: rgb(180, 146, 66);
	background-image: url("Images/Wooden\ Table\ Texture\ -\ Table\ Body.jpg");
}

tr.table-header-row {
	background-image: url("Images/Wooden\ Table\ Texture\ -\ Table\ Header.jpg");
}

td.table-header-cell, td.main-table-cell {
	border: 2px brown solid;
}
td.table-header-cell {
	padding-top: 0.75%;
	padding-bottom: 0.75%;
	font-family: Bungee;
	color: yellow;
	font-size: 150%;
	text-shadow: -3px -3px 4px black, 3px -3px 4px black, -3px 3px 4px black, 3px 3px 4px black;
}
#inventory-tag-cell {
	padding-top: 0%;
	padding-bottom: 0%;
	font-size: 180%;
}
td.main-table-cell {
	font-family: MuseoModerno;
	font-size: 150%;
	text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}
#inner-table-container {
	padding: 0%;
	font-size: 115%;
}

td.inner-table-cell-with-border {
	border-bottom: 2px brown solid;
}

#market-button {
	display: flex;
	margin-top: 1.75%;
	margin-left: auto;
	margin-right: 0%;
	font-family: VollkornSC;
	font-size: 150%;
	padding-top: 0.75%;
	padding-bottom: 0.75%;
	padding-left: 2.25%;
	padding-right: 2.25%;
	box-shadow: 2px 2px 2px 1px black;
	background-image: url("Images/Sword -\ Market\ Button\ Background.jpg");
	background-repeat: no-repeat;
	background-size: 105% 105%;
	text-shadow: -3px -3px 4px black, 3px -3px 4px black, -3px 3px 4px black, 3px 3px 4px black;
	border: 5px outset;
	border-radius: 4%/18%;
	border-color: darkblue;
	color: rgb(253, 235, 135);
	transition: 500ms;
}
	#market-button:hover {
		cursor: pointer;
		animation: growFromCenter 500ms;
		transform: scale(1.1);
		border-color: rgb(6, 194, 219);
		color: rgb(253, 139, 135);
	}
