@import url("Go\ Back\ Button/Go\ Back\ Button\ Style.css");
@import url("Home\ Button/Home\ Button\ Style.css");
@import url("Logout\ Button/Logout\ Button\ Style.css");

button.page-button {
	position: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	border: none;
	transition: 400ms;
}
	button.page-button:hover {
		cursor: pointer;
		animation: growFromCenter 400ms;
		transform: scale(1.1);
	}